.settingContainer {
  border: 1px solid #E6ECF0;
  width: 45vw;
  height: 100vh;
  overflow-y: scroll;

  .topSection {
    border-bottom: 10px solid #E6ECF0;

    .title {
      display: flex;
      align-items: center;
      padding-left: 15px;
      border-bottom: 1px solid #E6ECF0;
      height: 50px;
      margin: 0;
      font-weight: 700;
      color: #171725;
      font-size: 24px;
    }
  }

  .bottomSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    .settingForm {
      width: 40vw;
      margin: 30px 0;
      // padding: 20px;

      .input {
        position: relative;
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: 55px;
        background-color: #F5F8FA;
        // border-bottom: 2px solid #657786;

        .inputLabel {
          position: absolute;
          top: 5px;
          left: 13px;
          color: #696974;
          font-size: 14px;
          font-weight: 400;
        }

        .inputBox {
          position: absolute;
          border: none;
          outline-style: none;
          background-color: transparent;
          font-size: 16px;
          z-index: 6;
          padding-top: 25px;
          padding-left: 13px;
          width: 100%;
          height: 100%;
          border-bottom: 2px solid #657786;

          &:focus {
            border-bottom: 2px solid #50B5FF;
          }
        }
      }
    }

    .buttonBox {
      display: flex;
      justify-content: flex-end;
      width: 40vw;
    }
  }

  // scrollbar style 

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #FAFAFA;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 4px;
    border: 2px solid #FAFAFA;
  }
}

// validationAlert style

.validationAlert {
  position: absolute;
  bottom: -50%;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-top: 3px solid #FC5A5A;
  font-size: 12px;
  color: #FC5A5A;
  z-index: 10;
}

// button style

.valid {
  margin-right: 25px;
  top: 100%;
  width: 88px;
  height: 46px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #FF6600;
  cursor: pointer;
}

.invalid {
  margin-right: 25px;
  top: 100%;
  width: 88px;
  height: 46px;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #828282;
}