.postModalBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 250px;
  background-color: #fff;
  border-radius: 14px;
  z-index: 10;

  .topBar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #E6ECF0;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      cursor: pointer;
    }
  }

  .avatarBox {
    padding: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .addTweetContent {
    position: absolute;
    width: 85%;
    height: 40%;
    top: 80px;
    right: 5px;
    font-size: 18px;
    outline: none;
    border: none;
    resize: none;

    // modal scrollbar style
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #FAFAFA;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;
      border-radius: 4px;
      border: 2px solid #FAFAFA;
    }
  }

  .submitButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 64px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #FF6600;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
}

.replyModalBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 500px;
  background-color: #fff;
  border-radius: 14px;
  z-index: 10;

  .avatarBox {
    padding: 15px 29px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .tweetItem {
    position: relative;
    display: flex;
    height: 136px;
    border: none;

    .avatarBox {
      padding: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        top: 80px;
        left: 44px;
        width: 2px;
        height: 70px;
        background-color: #CCD6DD;
      }
    }

    .tweetInfo {
      width: 100%;

      .topInfo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 15%;
        padding: 5px 0;

        .name {
          font-weight: 700;
          margin: 0 1px;
          font-size: 16px;
        }

        .account {
          font-size: 14px;
          color: #6C757D;
          margin: 0 1px;
          font-size: 14px;
        }

        .time {
          font-size: 14px;
          color: #6C757D;
          margin: 0 1px;
        }
      }

      .tweetContent {
        display: flex;
        height: 55%;
        color: #171725;
        font-size: 16px;
      }
    }
  }

  .topBar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #E6ECF0;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      cursor: pointer;
    }
  }

  .addTweetContent {
    position: absolute;
    width: 85%;
    height: 40%;
    bottom: 60px;
    right: 10px;
    font-size: 18px;
    outline: none;
    border: none;
    resize: none;

    // modal scrollbar style
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #FAFAFA;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;
      border-radius: 4px;
      border: 2px solid #FAFAFA;
    }
  }

  .submitButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 64px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #FF6600;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
}

// avatar style

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

// icon style

.closeIcon {
  width: 24px;
  height: 24px;
}

// Link style 

a {
  all: unset
}