.replyModalBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 500px;
  background-color: #fff;
  border-radius: 14px;
  z-index: 10;

  .topBar {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #E6ECF0;

    .iconBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px;
      cursor: pointer;
    }
  }

  .modalAvatarBox {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 40px 15px;
    cursor: pointer;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tweetItem {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 136px;
    border: none;

    .avatarBox {
      img {
        position: absolute;
        top: 10px;
        left: 15px;
        width: 50px;
        height: 50px;
      }

      &::before {
        position: absolute;
        content: '';
        top: 80px;
        left: 40px;
        width: 2px;
        height: 70px;
        background-color: #CCD6DD;
      }
    }

    .tweetInfo {
      width: 88%;

      .topInfo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        height: 15%;

        .name {
          font-weight: 700;
          font-size: 16px;
        }

        .account {
          font-size: 14px;
          color: #6C757D;
          margin-left: 5px;
          font-size: 14px;
        }

        .time {
          font-size: 14px;
          color: #6C757D;
          margin: 0 1px;
        }
      }

      .tweetContent {
        display: flex;
        height: 55%;
        color: #171725;
        font-size: 16px;
      }

      .replyInfo {
        margin: 5px 0;
      }
    }
  }

  .addTweetContent {
    position: absolute;
    width: 85%;
    height: 35%;
    margin: 0 15px;
    bottom: 90px;
    right: 0px;
    font-size: 18px;
    outline: none;
    border: none;
    resize: none;

    // modal scrollbar style
    &::-webkit-scrollbar {
      width: 8px;
      background-color: #FAFAFA;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;
      border-radius: 4px;
      border: 2px solid #FAFAFA;
    }
  }

  .wordCount {
    position: absolute;
    bottom: 60px;
    right: 20px;
    color: #696974;
    font-size: 12px;
    font-weight: 500;    
  }  
}

// validationAlert style

.alert {
  position: absolute;
  bottom: 55px;
  left: 12%;
  width: 100%;
  font-size: 12px;
  color: #FC5A5A;
  z-index: 10;
}

// button styles

.submitValid {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 64px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #FF6600;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submitInvalid {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 64px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-color: #828282;
  color: white;
  font-size: 16px;
}