.tweetItem {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #E6ECF0;
  z-index: 0;

  .avatarBox {
    width: 50px;
    height: 50px;
    margin: 10px 10px 0 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .invalidAvatarBox {
    width: 50px;
    height: 50px;
    margin: 10px 10px 0 10px;
    border-radius: 50%;
    z-index: 5;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .tweetInfo {
    width: 85%;

    .topInfo {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 10px;

      .name {
        font-weight: 700;
        font-size: 16px;
      }

      .account {
        font-size: 14px;
        color: #6C757D;
        margin-left: 5px;
        font-size: 14px;
      }

      .time {
        font-size: 14px;
        color: #6C757D;
        margin: 0 1px;
      }
    }

    .tweetContent {
      display: flex;
      height: 55%;
      color: #171725;
      font-size: 16px;
      cursor: pointer;
    }

    .iconInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 120px;
      height: 15%;

      .comments {
        margin: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40px;

        .iconBox {
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: #6C757D;
          font-weight: 700;
        }
      }

      .likes {
        margin: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40px;

        .iconBox {
          width: 16px;
          height: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: #6C757D;
          font-weight: 700;
        }
      }
    }

    .replyInfo {
      display: flex;

      .replyTo {
        font-size: 14px;
        color: #6C757D;
        font-weight: 400;

        b {
          color: #FF6600;
        }
      }
    }
  }
}

.likeIcon {
  fill: rgb(255, 87, 87);
}

// 如果是顯示在ReplyModal內，點擊不會轉跳
.replyTweetContent {
  display: flex;
  height: 55%;
  color: #171725;
  font-size: 16px;
}

// UserPage 和 OtherUserPage 裡面的 icon
.userLikeIcon {
  fill: rgb(255, 87, 87);
}

.UserIconBox {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}