@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  /* reset */
  margin: 0;
  padding: 0;

  /* 共用樣式 */
  width: 100vw;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;

}
